.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar img:hover {
  transform: rotate(360deg);
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: height 300ms ease;
}

.sidebar.active .sidebar_list {
  max-height: 500px;
}

.sidebar_list_item {
  animation: slideIn 0.3s ease forwards;
}

.sidebar_list_active {
  height: 300px;
}

.sidebar_list_item {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  list-style: none;
  cursor: pointer;
}
